<%- include('partials/head')  %> 
<body>
 
        <%- include('partials/header')  %> 
        <%- include('partials/navbar')  %> 
<div class="contenedor-productos"> 
        <div class="pre-main">
        <h2 class="titulo-productos">Todos los productos</h2>
        <a href="/productos/create" class="button-edit">CREAR PRODUCTO</a>
        </div>
      
        <main class="producto">    
        
            <% for (producto of inSale) { %> 
            <% let finalPrice=producto.discount ? (producto.price - producto.price * producto.discount / 100).toFixed(0) : product.price;%>
                <section class="ofertas-productos">

                            <article>
                                <a href="#">
                                    <img src="/images/<%= producto.image %>" alt="">
                                    <div class="productos2">
                                        <hr>
                                        <p class="descripcion1"> <%= producto.name %> </p>
                                        <p class="descripcion2"> <%- producto.discount ? `<span>${producto.discount}% OFF</span>` : '' %>  </p> 
                                        <p class="precio">$<%= toThousand(finalPrice) %></p>
                                        <h4 class="descripcion3">Ahora 12</h4>
                                    </div>  
                                </a>      
                            </article>
        
                </section>
        
            <% } %> 
        
        </main>
</div> 
    <hr>    
    <%- include('partials/footer')  %> </body>
</body>

</html> 