<%- include('partials/head')  %> 
<%- include('partials/header')  %> 
<body class="producto">
    <%- include('partials/navbar')  %>  

    <main>
        <% let finalPrice=product.descuento ? (product.precio - product.precio * product.descuento / 100).toFixed(0) : product.precio;%>
        <section class="main-producto">
            <div class="main-article">
                <div class="main-article-images">
                    <img src="/images/products/<%= product.rutaImagen  %>" alt="" >
                </div>    
            </div>
            <div class="main-article-description">
                <div class="description">
                    <p class="descripcion1"><%= product.nombre %></p>
                    <p class="descripcion1"><%= '$ '+toThousand(finalPrice) %></p>
                    <p class="descripcion2"><%- product.descuento ? `<span>${product.descuento}% OFF</span>` : '' %> </p>
                   
                </div>
                <div class="payment">
                    <div><h2 class="producto">¿Aprovecha las oportunidades</h2>
                    </div>
                    <div class="ofertas-pro">
                        <div class="ofertas-tc">
                            <div class="fab"><i class="fab fa-cc-visa"></i></div><h3>12 cuotas sin interes de $$$$</h3>
                        </div>
                        
                        <div class="ofertas-tc">
                            <div class="fab"><i class="fab fa-cc-mastercard"></i></div><h3>12 cuotas sin interes de $$$$</h3>
                            </div>
                        <div class="ofertas-tc">
                            <div class="fab"><i class="fab fa-cc-amex"></i></div><h3>12 cuotas sin interes de $$$$</h3>
                        </div>
                    </div>    
                        <a href="#"><h3>Ver cuotas y otros medios de pago</h3></a>
                    
                </div>
                <div class="paymentbtn">
                    <div class="paybt">
                        <a href="/productos/productCart" class="action-button edit">Comprar</a>
                    </div>
                </div>
                <% if (locals.isLogged && locals.userLogged.idPerfil==1) { %>
                <div class="edit-delete">    
                    <div class="edit-b">
                        <a href="/productos/<%= product.id %>/edit" class="action-button edit">EDITAR PRODUCTO</a>
                    </div>      
                    <diV class="delete-b">
                        <form action="/productos/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                            <button type="submit" class="action-button delete">ELIMINAR</button>
                        </form>
                    </diV> 
                </div>
                <% } %>
            </div>
        </section>
        <section class="main-producto-spects">
            <div class="main-article-spects">
                <br>
                <h3 class="pantalla">DETALLE</h3>
                <div class="pantalla">
                    <h4><%=product.descripcion%> </h4>
                 
                </div>
               
            </div>
        </section> 
        <h2 class="titulo1">Personas interesadas en este producto también vieron</h2>
        <section class="ofertas-productosDetail">
            <% for (productos of productos) { %> 
                <% let finalPrice=productos.descuento ? (productos.precio - productos.precio * productos.descuento / 100).toFixed(0) : productos.precio;%>
                    <section class="ofertas-productos">
                                <article>
                                    <a href="/productos/productDetail/<%=productos.id%>">
                                        <img src="/images/products/<%= productos.rutaImagen %>" alt="">
                                        <div class="productos2">
                                            <hr>
                                            <p class="descripcion1"> <%= productos.nombre %> </p>
                                            <p class="descripcion2"> <%- productos.descuento ? `<span>${productos.descuento}% OFF</span>` : '' %>  </p> 
                                            <p class="precio">$<%= toThousand(finalPrice) %></p>
                                            <h4 class="descripcion3">Ahora 12</h4>
                                        </div>  
                                    </a>      
                                </article>
            
                    </section>
            
                <% } %> 


        </section>
</main>
    <hr>    
    <%- include('partials/footer')  %> 
</body>
</html>