<%- include('partials/head')  %> 

<body class="register-page">
  <header>
    <div class="top-header-login">
        
        <h2 class="nombre-login">electromania</h2>
        <div class="logo-login">
            <a href="/"><img src="/images/favicon.JPG" class="logo"></a>
        </div>
   </div> 

  </header>
    <div class="container">
        <div class="login-container">
          <div class="register">
            <h1 class="register-page">Registrate</h1>
            <h4 class="register-page">¿Ya tenés cuenta?<a  class="ingresa" href="/usuarios/login"> Ingresá aqui</a></h4>
            <br>
            <form class="form-register" action="/usuarios/register" method="POST" enctype="multipart/form-data">
              <h3 class="register-page">Nombre</h3>
              <input 
                class="insert-register" 
                type="text" 
                name="firstName" 
                <%= locals.errors && errors.fullName ? 'is-invalid' : null %> 
                value="<%= locals.oldData ? oldData.fullName : null %>">
              <h3 class="register-page">Apellido</h3>
              <% if (locals.errors && errors.fullName) { %>
                <div class="text-danger">
                    <%= errors.fullName.msg %> 
                </div>
            <% } %>
              <input class="insert-register" type="text" name="lastName" required placeholder="Ingresá tu apellido">
              <h3 class="register-page">Email</h3>
              <input class="insert-register" type="email" name="email" required placeholder="Ingresá un mail valido">
              <h3 class="register-page">Contraseña</h3>
              <input class="insert-register" type="password" name="Contraseña" required placeholder="Recordá que sea alfanumerica"> 

              <br>
              <input type="file" name="avatar" required >
              <br>
              <br>
              <div class="boton-register">
              <input class="boton-register" type="submit" class="submit" value="Crear cuenta">
              </div>
              <br>
              <h3 class="register-page">O</h3>   
              <br> 
            </form>          
            <section >
                <div class="ctatrs">
                    <div class="ctatrs2">
                        <div class="cuentatrs">                        
                            <a  href="#">Iniciar sesión con Facebook</a>                       
                        </div>
                    </div>
                    <div class="ctatrs2">
                        <div class="cuentatrs">                      
                            <a  href="#">Iniciar sesión con Google</a>                        
                        </div>
                    </div>    
                </div>
            </section>
            <br>
           </div>
        </div>
    </div> 
    <%- include('partials/footer')  %>   
</body>
</html>